<?xml version="1.0" encoding="UTF-8"?>
<!--status：log4j本身的打印日志的级别-->
<!--monitorInterval：表示30秒刷新一次配置文件-->
<Configuration status="WARN" monitorInterval="30">
    <!-- 可选的输出方式 -->
    <Appenders>
        <!--控制台输出-->
        <!-- target输出目标：SYSTEM_OUT 或 SYSTEM_ERR -->
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy/MM/dd HH:mm:ss,SSS} [%t] %-5level %logger{10} - %msg%n"/>
            <!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch）-->
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
        </Console>
        <Console name="debug" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss,SSS} [%t] %-5level - %msg%n"/>
        </Console>
        <!--文件输出-->
        <!--append表示是否直接追加-->
        <File name="file" fileName="C:\Workspace\feinicoin.log" append="true">
            <PatternLayout pattern="%d{yyyy/MM/dd HH:mm:ss,SSS} [%t] %-5level %logger{10} - %msg%n"/>
        </File>
    </Appenders>
    
    <!--日志对象-->
    <Loggers>
        <!--Logger会继承自Logger默认日志(如果不加additivity="false"则root也会输出)-->
        <!--spring的DEBUG信息屏蔽-->
        <logger name="org.springframework" level="INFO" additivity="false">
            <AppenderRef ref="console"/>
        </logger>
        <logger name="name.feinimouse.feinicoinplus.BaseRunner" level="info" additivity="false">
            <AppenderRef ref="debug"/>
            <AppenderRef ref="file"/>
        </logger>
        <!--默认日志-->
        <Root level="error">
            <!--ref引用对应的appender-->
<!--        <AppenderRef ref="console"/>-->
            <AppenderRef ref="debug"/>
<!--            <AppenderRef ref="file"/>-->
        </Root>
    </Loggers>
</Configuration>