<?xml version="1.0" encoding="UTF-8"?>
<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd"
    default-destroy-method="destroy"
>
<!--  
  - - - -
  - 本文件只做参考，后续将使用纯javaConfig的方式运行Spring
  - - - -
  -->
    
    <!--使用default-init-method="init" default-destroy-method="destroy"配置全局的初始化和销毁方法-->

    
    <!--  IOC  -->
    <!--读取静态配置文件-->
    <!--注意，如果要引入多个配置文件必须添加此项ignore-unresolvable="true"，
    该选项导致配置文件${}找不到对应占位符的值，不会报错，会直接赋值'${}'-->
<!--    <context:property-placeholder-->
<!--        location="classpath:feinicoinplus-config.properties"-->
<!--        ignore-unresolvable="true"-->
<!--    />-->
    
    <!--component-scan 用于扫描基于类的注解-->
    <!--annotation-config用于扫描基于方法等的注解被属于前者的子集-->
    
    <context:component-scan base-package="name.feinimouse.feinicoinplus.test">
        <!--使用通配符来进行过滤-->
        <!--<context:include-filter type="regex" expression=".*Guitar" />-->
        <!--使用注解来进行过滤-->
        <!--<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Repository" />-->
    </context:component-scan>
    
    
<!--    <bean id="hhw" class="name.feinimouse.study.bandparty.band.impl.HelloHappy">-->
<!--        &lt;!&ndash;构造器注入&ndash;&gt;-->
<!--        <constructor-arg name="kokoro" ref="kokoro" />-->
<!--        &lt;!&ndash;插值注入&ndash;&gt;-->
<!--        <property name="misaki" ref="misaki" />-->
<!--    </bean>-->
<!--    <bean id="kokoro" class="name.feinimouse.study.bandparty.member.impl.MemberImpl">-->
<!--        <constructor-arg name="name" value="Kokoro" />-->
<!--        <property name="position" value="leader" />-->
<!--    </bean>-->
<!--    <bean id="misaki" class="name.feinimouse.study.bandparty.member.impl.MemberImpl">-->
<!--        <constructor-arg name="name" value="Misaki" />-->
<!--        <property name="position" value="DJ" />-->
<!--        &lt;!&ndash;引用properties&ndash;&gt;-->
<!--        <property name="instruments" value="${band.hhw.dj}" />-->
<!--    </bean>-->

</beans>
